.playlist {
    color: white;
    background-color: orange;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    display: inline-block;
    justify-items: center;
    text-decoration: none;
    border: 1px solid darkorange;
}