.playlist {
    color: black;
    background-color: lime;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    display: inline-block;
    text-decoration: none;
    border: 1px solid limegreen;
    text-align: center;
}

.playlist:hover {
    background-color: rgb(16, 218, 16);
}

.playlist:active {
    background-color: chartreuse;
}