.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.hiddenCover {
    filter: blur(7px);
}

.hiddenInfo {
    visibility: hidden;
}

.playButton {
    border-radius: 100%;
    background-color: lime;
    border: 1px solid rgb(53, 180, 53);
    color: black;
    height: 3.5rem;
    width: 3.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.playButton:hover {
    background-color: #10DA10;
}

.playButton:active {
    background-color: chartreuse;
}

.hiddenButton {
    display: none;
}

.nextButton {
    border-radius: 7%;
    background-color: #F44174;
    border: 1px solid #832842;
    color: black;
    height: 3.5rem;
    width: 3.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.nextButton:hover{
    background-color: #d34c72;
}

.nextButton:active{
    background-color: #df8da4;
}