.footer{
    justify-items: center;
    background-color: lightgray;
    padding: 1rem;
    // position: fixed;
    left: 0;
    bottom: 0;
    //width: 100%;
    // flex-grow: 1
    // position: static;
    // position: absolute;
}