.suggestionList{
    position: absolute;
    background-color: white;
    margin: 0;
    border: solid .1rem black;
    border-top: none;
    list-style: none;
    padding: .5rem;
    width: 15rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    overflow-y: auto;
    height: 5rem;
    cursor: pointer;
}

.guessInput{
    width: 15rem;
    border: solid .1rem black;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 1rem;
}

.guessInputWithSuggestions{
    width: 15rem;
    border: solid .1rem black;
    border-radius: .5rem;
    padding: .5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 1rem;
}

.suggestions{
    padding-bottom: .5rem;
}

.hideDisplay{
    visibility: hidden;
    height: 4rem;
}

.display{
    height: 4rem;
}